[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.2.0"
djangorestframework = "*"
djoser = "==2.1.0"
djangorestframework-jsonapi = "==4.2.1"
djangorestframework-jwt = "==1.11.0"
pyjwt = "*"
drf-yasg = "*"
environs = {version = "==8.0.0", extras = ["django"]}
psycopg2-binary = "*"
pillow = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.9"
